* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.video-cont {
  height: calc(100vh - 3.8rem);
  width: 100vw;
  background-color: #222222;
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  justify-content: center;
}

video {
  height: 100%;
  width: 100%;
  /* border-radius: 5px; */
}

.actions-cont {
  height: 3.8rem;
  width: 100vw;
  background-color: #f1f1f1;
  /* position: absolute;
  left: calc((100vw - 15rem) / 2);
  bottom: 1rem; */
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  /* border-radius: 5px; */
}

.actions-cont > * {
  width: 7rem;
  border-radius: 50%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  /* background-color: #373f4c; */
  /* background-color: #4c586d; */
  /* border: 1px solid #4c586d;
  display: flex;
  align-items: center;
  justify-content: center; */
}

.record-btn {
  background-color: red;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.capture-btn {
  background-color: red;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  /* text-align: center; */
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.scale-record {
  animation: scale-record;
  animation-iteration-count: infinite;
  animation-duration: 0.8s;
  /* animation-timing-function: ease-in-out; */
  transition: ease-in-out;
}

@keyframes scale-record {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes scale-capture {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.1);
  }
}

.scale-capture {
  animation: scale-capture;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
}

.gallery-btn {
  border: none;
  padding: 3px 15px;
  background-color: #d1d1d1;
  border-radius: 5px;
  cursor: pointer;
}

.timer {
  display: none;
}

.filter-cont {
  z-index: 2;
  position: absolute;
  top: calc((100vh - 80vh - 3.8rem) / 2);
  left: 1rem;
  /* background-color: aqua; */
  height: 80vh;
  width: 10rem;
}

.filter {
  height: 18vh;
  width: 100%;
  background-image: url('https://picsum.photos/seed/picsum/200/300');
  margin-bottom: 2.7vh;
  border-radius: 5px;
  background-position: center;
  background-size: 100% 100%;
  border: 1px solid black;
  background-repeat: no-repeat;
  background-blend-mode: color-burn;
}

.orange {
  background-color: #ffa50052;
}

.brown {
  background-color: #a52a2a59;
}

.pink {
  background-color: #ffc0cb57;
}

.transparent {
  background-color: transparent;
}

.filter-layer {
  height: calc(100vh - 3.8rem);
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: #ffa50052; */
}

.cameraIcon {
  font-size: 2rem;
  color: white;
}

.videoIcon{
  font-size: 2rem;
  color: white;
}